<div class="container">
  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="u-full-width titulo">
      <h1
        title="Envie mensagens para qualquer número sem adicioná-lo!"
        alt="nvie mensagens para qualquer número sem adicioná-lo!"
      >
        Whats Send
      </h1>
    </div>
    <div class="seven columns">
      <label for="exampleEmailInput"
        >Número que deseja enviar a mensagem (Apenas números Ex:.
        999999999)</label
      >
      <input
        (input)="this.numero = $event.target.value"
        title="Apenas números"
        maxlength="9"
        class="u-full-width"
        type="tel"
        placeholder="9-9999-9999"
      />
    </div>
    <div class="seven columns">
      <label for="exampleRecipientInput">DDD</label>
      <input
        (input)="this.ddd = $event.target.value"
        title="Apenas números"
        maxlength="3"
        class="u-full-width"
        type="text"
        placeholder="000"
      />
      <label for="exampleMessage">Mensagem</label>
      <textarea
        (input)="this.mensagem = $event.target.value"
        class="u-full-width"
        placeholder="Eae tranquilo manolo?!"
        id="exampleMessage"
      ></textarea>
      <input
        (click)="sendMensagem()"
        class="button-primary"
        type="submit"
        value="Enviar"
      />
    </div>
    <div class="seven columns">
      <h5>
        Feito com <span class="s2">♥</span> por
        <a target="_blank" href="https://www.facebook.com/oilujmoreira"
          >Júlio Moreira</a
        >
      </h5>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
